<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <!--MAKE SURE THIS IS IN THE HEAD FOR STYLING ACROSS DEVICES-->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Msg Brd</title>

    <!--Bootstrap and jQuery-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    <!--MY EXTERNAL STYLESHEETS-->
    <!--<link rel="stylesheet" href="/css/normalize.css" />-->
    <link rel="icon" href="/img/HUH-logo-grey-2.png">
    <link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet">
    <link rel="stylesheet" href="/css/messageBoard.css" />
    <link rel="stylesheet" href="/css/mediaStyles2.css" />
    <link rel="stylesheet" href="/css/custom.css" />

</head>
<body>

    <% include ../partials/nav %>

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="">
            <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Heads Up</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse nav-font-size">
            <ul class="nav navbar-nav">
                <li><a href="/about-us">About</a></li>
                <li class="active"><a href="/message-board">Mesage Board</a></li>
                <li><a href="/events">Events</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/signup">Signup</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
            </div>
        </div>
    </nav>

    <div class="container logo-background text-center">
        <div class="page-title text-center">
            <div class="">MESSAGEBOARD</div>
            <!--<div class="new-thread">Click here to start a new thread</div>-->
        </div>
    </div>
    <div class="container content">
        <div class="new-thread">
            <a style="color: white;"href="message-board/new-post">Click here to start a new thread</a>
        </div>    
        <div class="table-holder">
            <div class="table-responsive messageboard">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Post Title</th>
                            <th>Author</th>
                            <th>Posts</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% posts.forEach(function(post){ %>
                    <tr>
                        <td class="row-title"><a href="message-board/<%= post._id %>"><%= post.postHeading %></a></td>
                        <td class="row-author"><%= post.userPosting.username %></td>
                        <td class="row-posts"><%= post.comments.length + 1 %></td>
                        <td class="row-timeStamp"><%= post.created.toLocaleDateString() %></td>
                    </tr>
                    <% }) %>
                        <!--see template at bottom of body-->
                    </tbody>
                </table>
            </div> 
        </div>    
    </div>

    <script src="/js/messageboard.js"></script>
    <script src="/js/custom.js"></script>

</body>
</html>