<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Heads Up</title>  
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="icon" href="/img/HUH-logo-grey-2.png">
    <link href="/css/bootstrap.css" rel="stylesheet">  
    <link rel="stylesheet" href="/css/medium-editor.css"> <!-- Core -->
    <link rel="stylesheet" href="/css/themes/default.css"> <!-- or any other theme -->
    <link href="/css/messageBoard.css" rel="stylesheet">
    <link href="/css/custom.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet">
  </head>

  <body class="site-light-green-background">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="">
            <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Heads Up Heads</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse nav-font-size">
            <ul class="nav navbar-nav">
                <li><a href="/about-us">About</a></li>
                <li class="active"><a href="/message-board">Mesage Board</a></li>
                <li><a href="/events">Events</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/signup">Signup</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
            </div>
        </div>
    </nav>
        <% include ../partials/nav %>


    <div class="container view-post-hero-image">
    </div>        


    
    <!--<div class="col-md-1"></div>-->
    <div class="container">
        <div class="row-fullwidth">
            <div class="col-xs-12 col-sm-10 col-md-8 col-lg-8 col-xl-8 col-centered background-dark-guitar border-green">
                <div class="view-post-container">
                    <!--<div class="">-->
                        <div class="post-heading">
                            <div><%= queriedPost.postHeading %></div>
                        </div>
                    <!--</div>-->
                </div>        
                    
                <div class="post-text-box">
                    <div class="post-text-main-text" style="border-bottom: 1px solid rgba(121, 115, 115, 0.61);">
                        <div class="original-post-header">
                            <span class="glyphicon glyphicon-chevron-right glyph-chevron"></span>
                            <span class=""><%= queriedPost.userPosting.username %></span>
                            <span class="glyphicon glyphicon-asterisk glyph-star"></span>
                            <span><%= queriedPost.created.toLocaleDateString() %> <%= queriedPost.created.toLocaleTimeString() %></span>
                            <!-- <span>
                                <a href="/message-board/<%= queriedPost._id %>/edit" class="edit-thread">Edit</a>
                            </span> -->
                            <!-- <span class="delete-thread"> -->
                        <% if(notEmailAuthUser) { %> 
                            <% {} %>
                        <% } else if(notAuthByAdminUser) { %>
                            <% {} %>
                        <% } else if(currentUser && queriedPost.userPosting.id.equals(currentUser._id)) { %>    
                            <form action="/message-board/<%= queriedPost._id %>?_method=DELETE" method="POST" style="float: right;">
                                <input value="DELETE" type="submit" class="btn btn-danger delete-thread"></input>
                            </form>
                            <span>
                                <a href="/message-board/<%= queriedPost._id %>/edit" class="edit-thread">Edit</a>
                            </span>
                        <% } %>    
                            <!-- </span> -->
                        </div>
                    </div>
                    <div class="post-text-bottom">
                        <!--<div class="post-text-holder"> style="font-size: 1.35em;"-->
                            <textarea class="editable"> <%= queriedPost.postText %></textarea>
                        <!--</div>    -->
                    </div>    
                </div>  
                
                    <!--<h3>COMMENTS</h3>-->
                <% queriedPost.comments.forEach(function(comment){ %>
                    <div class="post-text-box small-margin-top-bottom">
                        <div class="post-text-main-text">
                            <div class="comment-div">
                                <span class="comment-text-header"><span class="glyphicon glyphicon-chevron-right glyph-chevron"></span><%= comment.userCommenting.username %> <span class="glyphicon glyphicon-asterisk glyph-star"></span> <%= comment.created.toLocaleDateString() %> <%= comment.created.toLocaleTimeString() %></span>
                            </div>    
                            <p class="message-board-text"><%= comment.commentText %></p>
                        </div>
                    </div>            
                        <% if(notEmailAuthUser){ %>
                            <% {} %>
                        <% } else if(notAuthByAdminUser){ %>
                            <% {} %>
                        <%} else if(currentUser && comment.userCommenting.id.equals(currentUser._id)){ %>
                        <div class="edit-delete-buttons-box">
                            <form style="float: right;" action="/message-board/<%= queriedPost._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                <input type="submit" class="btn btn-danger" value="DELETE">
                            </form>  
                            <span class="edit-comment-btn"><a class="text-white" href="/message-board/<%= queriedPost._id %>/comments/<%= comment._id %>/edit">EDIT</a></span>
                        </div>    
                        <% } %>
                <% }) %>
        </div>
    </div>
    <!-- NEW COMMENT TEXT BOX-->
    <div class="container">
        <div class="row-fullwidth">
            <div class="col-lg-8 col-xl-8 col-md-8 col-sm-10 col-xs-12 col-centered padding-zero text-center margin-top-bottom-small">
                <span class="post-comment-heading text-white">Post Comment Here</span>
                <div class="comment-form-div">
                    <form method="POST" id="newCommentForm" action="/message-board/<%= queriedPost._id %>/new-comment">
                            <!--<div class="post-text-box col-xs-12">-->
                                <textarea rows="8" id="commentText" class="form-control new-post-text-box add-comment-text" name="commentText" type="text" autocomplete="off" style="padding-left: 5px; border: 1px solid black;"></textarea>
                            <!--</div>    -->
                        <div class="form-group">
                            <input style="border-radius: 0.4em; font-size: 1.2em; border: 1px solid #67b456" type="submit" id="submit" value="SUBMIT COMMENT" class="form-control btn btn-primary margin-top-em site-green" name="submit">
                        </div>    
                    </form>
                </div>    
            </div>    
        </div>    
    </div>    
            
</body>

<script src="/js/medium-editor.js"></script>
<script>var editor = new MediumEditor('.editable');</script>



                
                <!--<div class="container">-->   
                    <!--<h1 class="margin-top-seventy-five">Post Comment Here</h1>
                    <form method="POST" id="newCommentForm" action="/message-board/<%= queriedPost._id %>/new-comment">-->
                        <!--<div class="post-text-box col-xs-12">-->
							<!--<textarea rows="10" id="commentText" class="form-control new-post-text-box add-comment-text" name="commentText" type="text" autocomplete="off" style="padding-left: 5px; border: 1px solid black;"></textarea>-->
						<!--</div>    -->
                    <!--<div class="form-group">
                        <input type="submit" id="submit" value="SUBMIT COMMENT" class="form-control btn btn-primary margin-top-em" name="submit">
                    </div>    
                    </form>
                </div>
        </div>
    </div>    -->