<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Heads Up</title>  
    <% include ../partials/header %>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Heads Up Heads</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse nav-font-size">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li class="active"><a href="/message-board">Mesage Board</a></li>
                <li><a href="/events">Events</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/signup">Signup</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
            </div>
        </div>
    </nav>
        <% include ../partials/nav %>
    
    <!--<div class="col-md-1"></div>-->
    <div class="col-md-1"></div>
    <div class="col-md-10 margin-top-seventy-five">
        <div class="view-post-container">
            <div class="post-heading">
                <h2><%= queriedPost.userPosting.username %> || <%= queriedPost.postHeading %> || <%= queriedPost.created %></h2>
            </div>
            <div class="post-text-box">
                <div class="post-text-main-text">
                    <p class="message-board-text"><%= queriedPost.postText %></p>
                </div>
            </div>   
                <!--<div class="click-to-comment">
                    <p class="message-board-text"><a href="/message-board/<%= queriedPost._id %>/new-comment">Comment</a></p>
                </div> -->
                

                <!--<h3>COMMENTS</h3>-->
                
                <% queriedPost.comments.forEach(function(comment){ %>
                    <div class="post-text-box small-margin-top-bottom">
                        <div class="post-text-main-text">
                            <div class="comment-div">
                                <h3 class="comment-text-header"><%= comment.userCommenting.username %> || <%= comment.created %></h3>
                            </div>    
                            <p class="message-board-text"><%= comment.commentText %></p>
                        </div>
                    </div>            
                        <% if(notEmailAuthUser){ %>
                            <% {} %>
                        <% } else if(notAuthByAdminUser){ %>
                            <% {} %>
                        <%} else if(currentUser && comment.userCommenting.id.equals(currentUser._id)){ %>
                        <div class="edit-delete-buttons-box">
                            <form style="float: right;" action="/message-board/<%= queriedPost._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                <input type="submit" class="btn btn-danger" value="DELETE">
                            </form>  
                            <h4 style="float: right; padding-right: 1em;"><a href="/message-board/<%= queriedPost._id %>/comments/<%= comment._id %>/edit">EDIT</a></h3>
                        </div>    
                        <% } %>
                <% }) %>


                <!-- NEW COMMENT TEXT BOX-->
                <!--<div class="container">-->   
                    <h1 class="margin-top-seventy-five">Post Comment Here</h1>
                    <form method="POST" id="newCommentForm" action="/message-board/<%= queriedPost._id %>/new-comment">
                        <!--<div class="post-text-box col-xs-12">-->
							<textarea rows="10" id="commentText" class="form-control new-post-text-box add-comment-text" name="commentText" type="text" autocomplete="off" style="padding-left: 5px; border: 1px solid black;"></textarea>
						<!--</div>    -->
                    <div class="form-group">
                        <input type="submit" id="submit" value="SUBMIT COMMENT" class="form-control btn btn-primary margin-top-em" name="submit">
                    </div>    
                    </form>
                </div>
        </div>
    </div>    