<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Heads Up</title>  
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link href="/css/bootstrap.css" rel="stylesheet">  <!-- THE "/" TELLS THE BROWSER TO START AT THE ROOT OF THE APP AND WORK DOWN. FIRST TIME IT FINDS A 'CSS' DIRECTORY IT WILL LOOK FOR THE SPECIFIED FILES   -->
    <link href="/css/messageBoard.css" rel="stylesheet">
    <link href="/css/custom.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet">
  </head>
  <body class="trey-guitar-background">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Heads Up Heads</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse nav-font-size">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li class="active"><a href="/message-board">Mesage Board</a></li>
                <li><a href="/events">Events</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/signup">Signup</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
            </div>
        </div>
    </nav>
        <% include ../partials/nav %>


    <div class="container view-post-hero-image">
    </div>        


    
    <!--<div class="col-md-1"></div>-->
    <div class="container">
        <div class="row-fullwidth">
            <div class="col-lg-8 col-xl-8 col-md-8 col-sm-10 col-xs-12 col-centered background-dark-guitar border-green">
                <div class="view-post-container">
                    <!--<div class="">-->
                        <div class="post-heading">
                            <div><%= queriedPost.postHeading %></div>
                        </div>
                    <!--</div>-->
                </div>        
                    
                <div class="post-text-box">
                    <div class="post-text-main-text">
                        <span class="message-board-text"><%= queriedPost.userPosting.username %> || <%= queriedPost.created.toLocaleDateString() %> <%= queriedPost.created.toLocaleTimeString() %></span>
                    </div>
                    <div class="post-text-bottom">
                        <!--<div class="post-text-holder">-->
                            <span> <%= queriedPost.postText %></span>
                        <!--</div>    -->
                    </div>    

                </div>  
                
                    <!--<h3>COMMENTS</h3>-->
                <% queriedPost.comments.forEach(function(comment){ %>
                    <div class="post-text-box small-margin-top-bottom">
                        <div class="post-text-main-text">
                            <div class="comment-div">
                                <span class="comment-text-header"><%= comment.userCommenting.username %> || <%= comment.created.toLocaleDateString() %> <%= comment.created.toLocaleTimeString() %></span>
                            </div>    
                            <p class="message-board-text"><%= comment.commentText %></p>
                        </div>
                    </div>            
                        <% if(notEmailAuthUser){ %>
                            <% {} %>
                        <% } else if(notAuthByAdminUser){ %>
                            <% {} %>
                        <%} else if(currentUser && comment.userCommenting.id.equals(currentUser._id)){ %>
                        <div class="edit-delete-buttons-box">
                            <form style="float: right;" action="/message-board/<%= queriedPost._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                <input type="submit" class="btn btn-danger" value="DELETE">
                            </form>  
                            <span class="edit-comment-btn"><a class="text-white" href="/message-board/<%= queriedPost._id %>/comments/<%= comment._id %>/edit">EDIT</a></span>
                        </div>    
                        <% } %>
                <% }) %>
        </div>
    </div>
    <!-- NEW COMMENT TEXT BOX-->
    <div class="container">
        <div class="row-fullwidth">
            <div class="col-lg-8 col-xl-8 col-md-8 col-sm-10 col-xs-12 col-centered padding-zero text-center margin-top-bottom-small">
                <span class="post-comment-heading">Post Comment Here</span>
                <form method="POST" id="newCommentForm" action="/message-board/<%= queriedPost._id %>/new-comment">
                    <!--<div class="post-text-box col-xs-12">-->
                        <textarea rows="8" id="commentText" class="form-control new-post-text-box add-comment-text" name="commentText" type="text" autocomplete="off" style="padding-left: 5px; border: 1px solid black;"></textarea>
                    <!--</div>    -->
                <div class="form-group">
                    <input type="submit" id="submit" value="SUBMIT COMMENT" class="form-control btn btn-primary margin-top-em" name="submit">
                </div>    
                </form>
            </div>    
        </div>    
    </div>    
            
                



                
                <!--<div class="container">-->   
                    <!--<h1 class="margin-top-seventy-five">Post Comment Here</h1>
                    <form method="POST" id="newCommentForm" action="/message-board/<%= queriedPost._id %>/new-comment">-->
                        <!--<div class="post-text-box col-xs-12">-->
							<!--<textarea rows="10" id="commentText" class="form-control new-post-text-box add-comment-text" name="commentText" type="text" autocomplete="off" style="padding-left: 5px; border: 1px solid black;"></textarea>-->
						<!--</div>    -->
                    <!--<div class="form-group">
                        <input type="submit" id="submit" value="SUBMIT COMMENT" class="form-control btn btn-primary margin-top-em" name="submit">
                    </div>    
                    </form>
                </div>
        </div>
    </div>    -->